<div class="customers container-fluid">
    <div class="row">
        <section class="col-sm-12 col-md-6 col-lg-6 customer-relations">
            <div class="row section-underline">
                <!--customers records-->
                <div class="col-sm-6 col-md-6 col-lg-6 noPad">
                    <div class="section-panel customer-records" ui-view="customerRecords"></div>
                </div>
                <!--stats-->
                <div class="col-sm-6 col-md-6 col-lg-6 noPad ">
                    <div class="section-panel stats" ui-view="customerStats"></div>
                </div>
            </div>
            <div class="row section-underline">
                <!--Contact/Location Module-->
                <div class="col-12-lg">
                    <div class="section-panel customer-contacts" ui-view="customerContacts"></div>
                </div>
            </div>
        </section>
        <section class="col-sm-12 col-md-6 col-lg-6 noPad section-underline">
            <!--customer notes-->
            <div class="section-panel customer-notes" ui-view="customerNotes">
                <div class="section-heading">Customer Notes
                    <button class="glyphicon glyphicon-plus" ng-click="toggleNotes()"></button>
                </div>
                <div class="panel-content">
                    <div class="add-note section-underline " ng-class="{'open':openNote == true}">
                        <form action="" >





                            <fieldset class="form-group">
                               <label for="exampleSelect1">Select a Customer</label>
                               <select class="form-control" id="exampleSelect1">
                                   <option value="Billy Bob Jenkins" selected>Billy Bob Jenkins</option>
                                   <option value="Billy Bob Jenkins" >Billy Bob Jenkins</option>
                                   <option value="Billy Bob Jenkins" >Billy Bob Jenkins</option>
                                 <option>2</option>
                                 <option>3</option>
                                 <option>4</option>
                                 <option>5</option>
                               </select>
                             </fieldset>

                            <fieldset class="form-group">
                               <label for="insert-note">Add Note Below</label>
                               <textarea class="form-control" id="insert-note"  rows="10" cols="100"></textarea>
                             </fieldset>
                            <div class="button-group pull-right">
                                <button class="btn btn-sm bg-success">Save</button>
                                <button ng-click="toggleNotes()" class="btn btn-sm bg-grey" >Cancel</button>

                            </div>
                            <strong>Saturday May 15, 2016 </strong>


                        </form>

                    </div>
                    <div class="scroller">
                        <table class="note-table" ng-repeat="note in notes">
                            <tbody>
                            <tr class="note-header">
                                <td class="valignmiddle date"><strong>{{ note.createdon | date }}</strong></td>
                                <td>&nbsp;</td>
                                <td class="doc-box">
                                    <a href="#" class="delete-icon"> </a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="note-font-size">
                                    Created by: {{ customer.contactname }}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="note-font-size"><span>{{ note.note }}</span></td>
                                <td class="spacer">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </section>
    </div>

</div>