//<============== GLOBAL ==================>

.container {
  position: relative;
  z-index: 50;
}

.no-flick {
  -webkit-transform: translate3d(0, 0, 0);
}

body {
  color: #000000;

  background-color: #fff;
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0;
}

button{
  border: 0;
  margin: 0;
  outline: 0;
  background: none;

}

//<==============  Buttons Universal ==================>

.btn{
  border-radius: 0;
}

.btn-center {
  margin: 0 auto;
}

.noPad {
  padding: 0;
}

.fadeIn {
  animation: fadeIn .75s linear;
  -webkit-animation: fadeIn .75s linear;
}

//<==============  Alignments  ==================>
.valignmiddle {
    vertical-align: middle;
  }

  .txtCenter {
    text-align: center;
  }

  .txtRight {
    text-align: right;
  }

//<==============  Icons  ==================>
.doc-box {
    width: 20px;
    text-align: right;
  }

.document-icon{
  background: url("../images/icon-view-document.png") top right no-repeat;
   height: 16px;
   width: 20px;
  display: block;
  text-align: right;
}
.delete-icon{
  background: url("../images/icon-delete-2.png") top right no-repeat;
  height: 16px;
  width: 16px;
  display: block;
  background-position:  0px -1px;
  &:hover{
    background-position:  -16px -1px;
  }

}

.glyphicon-envelope { &:before { content: url('../images/icon-send-2.png') !important;   } }
.glyphicon-pencil    { &:before { content: url('../images/icon-edit-4.png') !important;   } }
.glyphicon-plus    { &:before { content: url('../images/icon-add-5.png') !important;   } }

//<==============  Colors  ==================>

.green{
  color: $green;
}


.scroller{
  overflow-y: scroll;
}