<div class="section-heading">Customer Notes</div>
<div class="panel-content">
    <div>
        <table class="note-table" ng-repeat="note in notes">
            <tbody>
            <tr class="note-header">
                <td class="valignmiddle date"><strong>{{ note.createdon | date:'medium' }}</strong></td>
                <td>&nbsp;</td>
                <td class="doc-box">
                    <a href="#" class="delete-icon"> </a>
                </td>
            </tr>
            <tr>
                <td colspan="3" class="note-font-size">
                    Created by: {{ customer.contactname }}
                </td>
            </tr>
            <tr>
                <td colspan="2" class="note-font-size"><span>{{ note.note }}</span></td>
                <td class="spacer">&nbsp;</td>
            </tr>
            </tbody>
        </table>


        <hr>
    </div>
</div>