
<div class="section-heading">Stats</div>
<div class="panel-content stats">
    <table class="table table-condensed">

        <!--Type 1 : Bold balance due header-->
        <tr class="balance-row-header">
            <th>Balance Due</th>
            <th class="num-box">{{ stats.balance | currency }}</th>
            <th>
                <a href="#"><img
                        src="./images/icon-view-document.png"></a>
            </th>
        </tr>
    </table>
    <!--or -->
    <div class="lined-header">
        <strong>Aging</strong>
    </div>
    <table class="table table-condensed">

        <!-- Type 2: Bold header underlined-->

        <!--TODO:  Make its own component-->
        <!-- balance row-->
        <tr class="aging-row">
            <td>Current Invoice</td>
            <td class="color-box" style=" background: #b2db86">{{ stats.aging.current.count }}</td>
            <td>{{ stats.aging.current.balance | currency}}</td>
        </tr>
        <tr class="aging-row">
            <td>
                1-30 Days Late
            </td>
            <td class="color-box" style=" background: #f0ea00">{{ stats.aging.past_due_30.count }}</td>
            <td>{{ stats.aging.past_due_30.balance | currency }}</td>
        </tr>
        <tr class="aging-row">
            <td>31-60 Days Late</td>
            <td class="color-box" style=" background: #ff9f66">{{ stats.aging.past_due_60.count }}</td>
            <td>{{ stats.aging.past_due_60.balance | currency}}</td>
        </tr>
        <tr class="aging-row">
            <td>61+ Days Late</td>
            <td class="color-box" style=" background: #ff5757">{{ stats.aging.past_due_60_plus.count }}</td>
            <td>{{ stats.aging.past_due_60_plus.balance | currency}}</td>
        </tr>
    </table>
    <!--Calender widget -->
    <div class="dateRange">
        <img src="./images/icon-calendar.png"
             style="display: block; float: left;">
        <div class="date-block">
            <span>01/01/2016 - 12/31/2016</span>&nbsp;<span class="caret"></span></div>

    </div>
    <!--Invoices-->
    <div id="invoices">
        <div class="lined-header"><strong>Invoices</strong></div>
        <table class="table table-condensed">


            <!-- balance rows-->
            <tr class="balance-row">
                <td>Unpaid</td>
                <td class="num-box">{{ docStats.sum_balance_due | currency }}</td>
                <td>
                    <a href="#"><img
                            src="./images/icon-view-document.png"></a></td>
            </tr>
            <tr class="balance-row">
                <td>Paid</td>
                <td class="num-box green">{{ docStats.sum_payments| currency }}</td>
                <td>
                    <a href="#"><img
                            src="./images/icon-view-document.png"></a>
                </td>
            </tr>
        </table>
    </div>
    <!--Estimates-->
    <div id="estimates">
        <div class="lined-header"><strong>Estimates</strong></div>
        <table class="table table-condensed">


            <!-- balance row-->
            <tr class="balance-row">
                <td>Open</td>
                <td class="num-box">{{ docStats.sum_open_estimates }}</td>
                <td>
                    <a href="#"><img
                            src="./images/icon-view-document.png"></a>
                </td>
            </tr>
            <tr class="balance-row">
                <td>Approved</td>
                <td class="num-box">{{ docStats.sum_approved_estimates }}</td>
                <td>
                    <a href="#"><img
                            src="./images/icon-view-document.png"></a>
                </td>
            </tr>
        </table>


    </div>
    <!--sale-receipts-->
    <div id="sale-receipts">
        <div class="lined-header"><strong>Sales Regeipts</strong></div>
        <table class="table table-condensed">


            <!--TODO:  Make its own component-->
            <!-- balance row-->
            <tr class="balance-row">
                <td>Paid</td>
                <td class="num-box">{{ docStats.sum_sales_receipts }}</td>
                <td>
                    <a href="#"><img
                            src="./images/icon-view-document.png"></a>
                </td>
            </tr>

        </table>


    </div>
    <!--sales-orders-->
    <div id="sales-orders">
        <div class="lined-header"><strong>Sales Orders</strong></div>
        <table class="table table-condensed">


            <!--TODO:  Make its own component-->
            <!-- balance row-->
            <tr class="balance-row">
                <td>Submitted</td>
                <td class="num-box">{{ docStats.sum_sales_orders }}</td>
                <td>
                    <a href="#"><img
                            src="./images/icon-view-document.png"></a>
                </td>
            </tr>

        </table>


    </div>
    <button class="btn btn-primary btn-sm">View Statement</button>
    <br/>
</div>

